
#container1 {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 700px;
    background-color: #ECEDF6;

}

#container2 {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 700px;
    background-color: #ECEDF6;
}


#container3 {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 700px;
    background-color: #ECEDF6;
}

/*  Product details  */
.product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 40px;
    height: 100%;
    float: left;
    width: 40%;
}

/*  Product Name */
#container1 .product-details h1 {
    font-family: 'Old Standard TT', serif;
    display: inline-block;
    position: relative;
    font-size: 34px;
    color: #344055;
    margin: 0;
}

#container2.product-details h1 {
    font-family: 'Old Standard TT', serif;
    display: inline-block;
    position: relative;
    font-size: 34px;
    color: #344055;
    margin: 0;
}


#container3.product-details h1 {
    font-family: 'Old Standard TT', serif;
    display: inline-block;
    position: relative;
    font-size: 34px;
    color: #344055;
    margin: 0;
}

.hint-star {
    display: inline-block;
    margin-left: 0.5em;
    color: gold;
    width: 50%;
}


/* The most important information about the product */
#container1 .product-details>p {
    font-family: 'Farsan', cursive;
    text-align: center;
    font-size: 20px;
    color: #7d7d7d;
    

}

#container2 .product-details>p {
    font-family: 'Farsan', cursive;
    text-align: center;
    font-size: 20px;
    color: #7d7d7d;

}

#container3 .product-details>p {
    font-family: 'Farsan', cursive;
    text-align: center;
    font-size: 20px;
    color: #7d7d7d;

}

/* control */

.control {
    position: absolute;
    bottom: 20%;
    left: 22.8%;

}

/* the Button */
.btn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: rgba(31,47,136,0.73);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
    margin-top: 30px;

}

.btn:hover {
    transform: translateY(-4px);
}

.btn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0;

}

/* shopping cart icon */
.btn .price,
.shopping-cart {
    background: #333;
    border: 0;
    margin: 0;
}

.btn .price {
    transform: translateX(-10%);
    padding-right: 15px;
}

/* the Icon */
.btn .shopping-cart {
    transform: translateX(-100%);
    position: absolute;
    background: #333;
    z-index: 1;
    left: 0;
    top: 0;
}

/* buy */
.btn .buy {
    z-index: 3;
    font-weight: bolder;
}

.btn:hover .price {
    transform: translateX(-110%);
}

.btn:hover .shopping-cart {
    transform: translateX(0%);
}


.product-image {
    float: left;
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-image: url(../../assets/bin.png)
}

.product-image1{
  float: left;
  width: 60%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-image: url(../../assets/hygiene.png)
}

.product-image2{
  float: left;
  width: 60%;
  height: 80%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-image: url(../../assets/cash.png)
}
#container1 img {
    width: 100%;
    height: 100%;
}

#container2 img {
    width: 100%;
    height: 100%;
}

#container3 img {
    width: 100%;
    height: 100%;
}


/* counting Animation Starts */
.countinganimation {
    font-family: 'Roboto', sans-serif;
    color: black;
    /* Push to bottom */
    height: fit-content;
}

.container1 {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.header456 {
    flex: 1;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header456 h1 {
    font-size: 60px;
}

.counters {
    color: black;
    padding: 40px 20px;
}

.counters .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    text-align: center;
}

.counters i {
    color: lightskyblue;
    margin-bottom: 5px;
}

.counters .counter {
    font-size: 45px;
    margin: 10px 0;
}

@media (max-width: 700px) {
    .counters .container1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .counters .container1>div:nth-of-type(1),
    .counters .container1>div:nth-of-type(2) {
        border-bottom: 1px lightskyblue solid;
        padding-bottom: 20px;
    }
}



/* counting animation Ends */

/* Text Animation Starts */
.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.main-footer {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #1F2F88;
}

.main-footer ul {
  list-style: none;
}

.main-footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.main-footer ul li a {
  color: white;
  text-decoration:none;
}

footer {
  background-color: BLACK;
  border-top: 1px solid WHITE;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: WHITE;
}

.logoinfo p {
  color: #6EB981;
  font-size: 17px;
  margin-top: 5px;
}

.contact-details {
  margin-top: 20px;
}

.contact-details li {
  list-style: none;
  margin: 10px 0;
}

.contact-details li a {
  text-decoration:none;
  color: WHITE;

}

.contact-details .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.sociallogos{
  padding:20px 0;
}

.sociallogos .logobox a{
  padding:0 10px;
  text-decoration:none;
  color:#ffffff;
  font-size:22px;
}

.com ul li{
  padding:5px 0;
  
}

.com ul li a:hover{
    padding:5px 0;
    color:#820000;

  }
.logoutButton{
    background-color: #1F2F88;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: absolute;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    right:2rem;
    /* left:200px; */
    
  }

@media only screen and (max-width: 749px) {
  .main-footer {
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
    .info{
      padding:20px 0;
  }
}

@media (max-width: 480px) {
  .main-footer {
    grid-template-columns: 1fr;
  }
  .sociallogos{
    padding:20px 0;
  }
  .com{
    padding:20px 0;
  } 

}

/* Text Animation Ends */

/* Footer Starts */

/*Â FooterÂ EndsÂ */